<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zarizeni</title>
</head>
<body>
    <!-- <a href="/form" style="position: absolute; top: 0; right: 0; margin: 10px;">Prihlaseni</a> -->

    <a href="/form" style="position: fixed; top: 50px; right: 120px; margin: 10px;">Přihlášení</a>

    <h1 style="text-align: center; margin-top: 150px; color: blue;"><b>Vítejte na strankach pro přihlášení</b></h1>

    <p style="text-align: center;"> <i>Stránky zobrazují seznam aktivních zařízení v nemocnici. </i></p>

    <!-- 
    <a href="/form">Prihlaseni</a> -->
 
</body>
</html>
